<!DOCTYPE html>
<html>
  <head>
    <title>Employees App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/employees/create" method="post">
      First Name: <input type="text" name="first_name" id=""><br/>
      Last Name: <input type="text" name="last_name" id=""><br/>
      Job Title: <input type="text" name="job_title" id=""><br/>
      <hr>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
