<!DOCTYPE html>
<html>
  <head>
    <title>Employees App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/employees/create">Create new employee</a>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
      </tr>
      <% employees.forEach(employee => { %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.job_title %></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
